*.exe
*.out
.idea
cmake-build-debug
/CMakeLists.txt
.vscode
.DS_Store
uvsim-qt/mainwindow.ui.old
build/build-Debug.ninja
build/build-Release.ninja
build/build-RelWithDebInfo.ninja
build/build.ninja
build/cmake_install.cmake
build/CMakeCache.txt
build/compile_commands.json
build/.cmake/api/v1/reply/cache-v2-4fff2170e526c89b91fc.json
build/.cmake/api/v1/reply/cmakeFiles-v1-9f70f372e3d65141891c.json
build/.cmake/api/v1/reply/codemodel-v2-a0012ed0f8909a4a8e7a.json
build/.cmake/api/v1/reply/directory-.-Debug-d75843ba5a255c981c63.json
build/.cmake/api/v1/reply/directory-.-Release-e5c52fdf4045d59ec1d6.json
build/.cmake/api/v1/reply/directory-.-RelWithDebInfo-1cf12ea063c425648c0d.json
build/.cmake/api/v1/reply/index-2024-06-20T18-18-33-0500.json
build/.cmake/api/v1/reply/target-uvsim-qt_autogen_timestamp_deps-Debug-96b12ee0ae8364a9f3da.json
build/.cmake/api/v1/reply/target-uvsim-qt_autogen_timestamp_deps-Release-8c0031d5ec5a2c05c7f0.json
build/.cmake/api/v1/reply/target-uvsim-qt_autogen_timestamp_deps-RelWithDebInfo-78f2d47987537a1f2dd7.json
build/.cmake/api/v1/reply/target-uvsim-qt_autogen-Debug-e91666c3168ad087b56d.json
build/.cmake/api/v1/reply/target-uvsim-qt_autogen-Release-70ae4ad43b1c7710d486.json
build/.cmake/api/v1/reply/target-uvsim-qt_autogen-RelWithDebInfo-3f1ee0aa29d3fa263e44.json
build/.cmake/api/v1/reply/target-uvsim-qt-Debug-986f33cb577df916b550.json
build/.cmake/api/v1/reply/target-uvsim-qt-Release-e8694ff0ca27cbd5cd2b.json
build/.cmake/api/v1/reply/target-uvsim-qt-RelWithDebInfo-c954cb87e6bd495bd8d4.json
build/.cmake/api/v1/reply/toolchains-v1-78eeafc3d24adbd8d82b.json
build/.qt/QtDeploySupport-Debug.cmake
build/.qt/QtDeploySupport-Release.cmake
build/.qt/QtDeploySupport-RelWithDebInfo.cmake
build/.qt/QtDeployTargets-Debug.cmake
build/.qt/QtDeployTargets-Release.cmake
build/.qt/QtDeployTargets-RelWithDebInfo.cmake
build/CMakeFiles/clean_additional.cmake
build/CMakeFiles/CMakeConfigureLog.yaml
build/CMakeFiles/common.ninja
build/CMakeFiles/impl-Debug.ninja
build/CMakeFiles/impl-Release.ninja
build/CMakeFiles/impl-RelWithDebInfo.ninja
build/CMakeFiles/rules.ninja
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.26.4-msvc4/CMakeCXXCompiler.cmake
build/CMakeFiles/3.26.4-msvc4/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.26.4-msvc4/CMakeRCCompiler.cmake
build/CMakeFiles/3.26.4-msvc4/CMakeSystem.cmake
build/CMakeFiles/uvsim-qt_autogen.dir/AutogenInfo.json
build/CMakeCache.txt
build/.cmake/api/v1/reply/cache-v2-5a8714a70285e3d105b3.json
build/.cmake/api/v1/reply/cmakeFiles-v1-e7b46f0c1c9606e65397.json
build/.cmake/api/v1/reply/codemodel-v2-62ae373b7de930d5c118.json
build/.cmake/api/v1/reply/index-2024-06-21T03-30-28-0028.json
build/.cmake/api/v1/reply/target-uvsim-qt-Debug-acc62d7b8319e102df9c.json
build/.cmake/api/v1/reply/target-uvsim-qt-Release-5c9ad14e0fdab88fab17.json
build/.cmake/api/v1/reply/target-uvsim-qt-RelWithDebInfo-2580a9d33a8e7b3b36c8.json
build/CMakeFiles/CMakeConfigureLog.yaml
build/CMakeFiles/3.26.4-msvc4/CMakeCXXCompiler.cmake
build/CMakeFiles/3.26.4-msvc4/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.26.4-msvc4/CMakeRCCompiler.cmake
build/CMakeFiles/3.26.4-msvc4/CMakeSystem.cmake
